<!DOCTYPE html>
<html lang="en" ng-app="flapperNews">
<head>
    <meta charset="UTF-8">
    <title>Flapper News</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            max-width: 1200px;
        }

        .glyphicon-thumbs-up {
            cursor:pointer
        }

        .link {
            font-size: 21px;
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
            padding: .8em 1em;
            margin-bottom: 1em;
        }

        .link .glyphicon {
            margin-right: 10px;
        }

        .post-form {
            margin-top: 30px;
        }

        .comment-body {
            font-size: 21px;
            margin-left: 1em;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <!-- TODO MINIFY -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/factories/posts.js"></script>
    <script src="javascripts/factories/auth.js"></script>
    <script src="javascripts/controllers/main.js"></script>
    <script src="javascripts/controllers/posts.js"></script>
    <script src="javascripts/controllers/auth.js"></script>
</head>
<body class="container-fluid" ng-controller="MainCtrl">

<ui-view></ui-view>

</body>
</html>